---
import Tabs from '@astro-tabs/preact'
import '@astro-tabs/preact/styles.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Tabs client:visible>
			<Fragment slot="tab.1">Tab 1</Fragment>
			<Fragment slot="tab.2">Tab 2</Fragment>
			<Fragment slot="panel.1">Panel 1</Fragment>
			<Fragment slot="panel.2">Panel 2</Fragment>
		</Tabs>
	</body>
</html>
